@import url('https://fonts.googleapis.com/css?family=Source+SAns+Pro:300,400,600,700,900&display=swap');

body{
    font-family: "Times New Roman", Times, serif;
    background: linear-gradient(to left, #666666 8%, #ff6600 100%);
    }
h2{
    font-size: 38px; margin-left: 25px; margin-top: 40px; margin-bottom: 15px; 
    position: relative;
    color: #252839;
    text-transform: uppercase;
    text-align: center;
}
h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate{
    0%,10%,100%;
}
    {
        width: 0%;
    }
    70%,90%
    {
        width: 100%;
    }
}

